<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Upload Complete</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
<h2>Your images have been uploaded and will be predicted on the next page</h2>
<hr>
<img src="https://cdn-images-1.medium.com/max/800/1*9ng9AxixrDUGvVfKA7dypg.png">
<hr>
<a href='predictions'>Click Here!</a>
</body>
</html>
