<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Upload Complete</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <style>
  body,h1 {font-family: "Raleway", sans-serif}
  body, html {height: 100%}
  .bgimg {
    background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }
  </style>
</head>
<body>
  <div class="w3-display-middle">
      <h1 class="w3-jumbo w3-animate-top">IMAGES UPLOADED</h1>
      <hr class="w3-border-grey" style="margin:auto;width:40%">
      <p class="w3-large w3-center">
        <a href='predictions'>click here for your predictions</a>
      </p>
    </div>
<!--
<h2>Your images have been uploaded and will be predicted on the next page</h2>
<hr>
<img src="https://cdn-images-1.medium.com/max/800/1*9ng9AxixrDUGvVfKA7dypg.png">
<hr> -->

</body>
</html>
