<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Gallery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
  body {font-family: "Times New Roman", Georgia, Serif;}
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
  }
  </style>
</head>

<body>
  {% for image_name,prediction,likely in image_predictions %}
  <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
      <div class="w3-col m6 w3-padding-large w3-hide-small">
      <img src="{{  url_for('send_image',filename=image_name)  }}" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
      </div>

      <div class="w3-col m6 w3-padding-large">
        <h1 class="w3-center">{{ prediction }}</h1><br>
        <h5 class="w3-center">Other Likely Breeds: </h5>
        <p class="w3-large">{{ likely }}</p>
      </div>
    </div>
    <hr>
    {% endfor %}

<!-- ################################################ -->
<!-- ################################################ -->
<!-- ################################################ -->
<!-- ################################################ -->

<div class="container">

  <div class="row">

      <div class="col-lg-12">
          <h1 class="page-header">Breed Predictions for Your Images</h1>
      </div>
      <hr>
      {% for image_name,prediction,likely in image_predictions %}
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <img class="img-responsive" src=" {{ url_for('send_image',filename=image_name)  }}">
      <h3>Prediction: {{ prediction }}</h3>
      <h5>Other likely breeds:</h5>
      <h5>{{ likely }}</h5>
      </div>
      {% endfor %}
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
              integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
              crossorigin="anonymous"></script>
  </div>
</div>

<div class="col-lg-12">
<a href='recommendation'>Let's Make Some Recommendations!</a>
</div>
</body>
</html>
