<!DOCTYPE html>
<html lang='en'>
 <head>
        <meta charset='UTF-8'>
        <title>Recommender</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
        <h2>Let's Make Some Recommendations</h2>
        <hr>
        <h4>Based on your photos we predicted:  {{ predictions }} </h4>
        <hr>
        <h4>If you were a Cavalier King Charles Spaniel, we would recommend your breeds in the following order: </h4>
        <h4>{{ recommendations }}</h4>
</body>
</html>
