<!DOCTYPE html>
<html lang='en'>
 <head>
  <title>Recommender</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
  .w3-row-padding img {margin-bottom: 12px}
  .bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://images.wallpaperscraft.com/image/bernese_mountain_dog_dog_snow_snowfall_119124_1350x2400.jpg');
    min-height: 100%;
  }
  </style>
</head>

<body>
  <!-- Sidebar with image -->
  <nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:40%">
    <div class="bgimg"></div>
  </nav>
  <!-- Page Content -->
  <div class="w3-main w3-padding-large" style="margin-left:40%">

  <!-- Menu icon to open sidebar -->
  <span class="w3-button w3-top w3-white w3-xxlarge w3-text-grey w3-hover-text-black" style="width:auto;right:0;" onclick="openNav()"><i class="fa fa-bars"></i></span>

  <!-- Header -->
  <h2>Let's Make Some Recommendations</h2>
  <hr>
  <h4>Based on your photos we predicted:  {{ predictions }} </h4>
  <hr>

    <h2>Tell us about yourself</h2>
        <form action="/display" method='POST'>

          <div class="radio">
          <h4>How much do you exercise?</h4>
          <input type="radio" name="exercise_needs" id="option1" value=5> Frequently </input><br>
          <input type="radio" name="exercise_needs" id="option2" value=3> Occasionally </input><br>
          <input type="radio" name="exercise_needs" id="option3" value=1> What's exercise? </input><br>
          </div>

          <div class="radio">
          <h4>What best describes your home?</h4>
          <input type="radio" name="apartment_ready" id="option1" value=5> Small apartment, no yard </input><br>
          <input type="radio" name="apartment_ready" id="option2" value=3> Medium apartment, or small house without a yard </input><br>
          <input type="radio" name="apartment_ready" id="option3" value=1> House with a yard </input><br>
          </div>

          <div class="radio">
          <h4>How important is affection from your dog?</h4>
          <input type="radio" name="affection" id="option1" value=5> Affection is a must! </input><br>
          <input type="radio" name="affection" id="option2" value=3> It's not the most important thing but I like a cuddly dog </input><br>
          <input type="radio" name="affection" id="option3" value=1> It's not really a factor for me </input><br>
          </div>

          <div class="radio">
          <h4>Are you much of a neat freak? How much would fur / drool affect you?</h4>
          <input type="radio" name="fur_drool" id="option1" value=5> I'm oblivious to it </input><br>
          <input type="radio" name="fur_drool" id="option2" value=3> I don't mind a little fur or slobber </input><br>
          <input type="radio" name="fur_drool" id="option3" value=1> I hate the idea of hair or slobber on my clothes or furniture </input><br>
          </div>

          <div class="radio">
          <h4>When it comes to grooming your dog, you will:</h4>
          <input type="radio" name="grooming" id="option1" value=1> Treat my dog like it's a showdog </input><br>
          <input type="radio" name="grooming" id="option2" value=3> Give my dog baths, but I'll skip the salons </input><br>
          <input type="radio" name="grooming" id="option3" value=5> Clean dog? Muddy dog? Makes no difference to me </input><br>
          </div>

          <div class="radio">
          <h4>What experience do you have training a dog?</h4>
          <input type="radio" name="trainability" id="option1" value=5> I don't have a lot of training experience </input><br>
          <input type="radio" name="trainability" id="option2" value=4> A little bit with a family / friend's dog </input><br>
          <input type="radio" name="trainability" id="option3" value=3> Some, I plan on working with a trainer </input><br>
          <input type="radio" name="trainability" id="option4" value=2> Bring it on! I'm the dog whisperer! </input><br>
          </div>

          <div class="radio">
          <h4>What will your social life look like with your dog?</h4>
          <input type="radio" name="friendliness" id="option1" value=5> Dog parks, restaurant patios, walks in heavy foot traffic, you name it! </input><br>
          <input type="radio" name="friendliness" id="option2" value=3> Occasional walks in the park, visiting friends and family </input><br>
          <input type="radio" name="friendliness" id="option3" value=1> Always staying home with me and the family </input><br>
          </div>

          <div class="radio">
          <h4>How old are the children in your home?</h4>
          <input type="radio" name="kids" id="option1" value=5> 7 and under </input><br>
          <input type="radio" name="kids" id="option2" value=4> 8 and older </input><br>
          <input type="radio" name="kids" id="option3" value=5> I have children in both of the above categories </input><br>
          <input type="radio" name="kids" id="option4" value=2> I don't have children at home </input><br>
          </div>

          <div class="radio">
          <h4>How smart would you like your dog to be?</h4>
          <input type="radio" name="intelligence" id="option1" value=5> Highly intelligent </input><br>
          <input type="radio" name="intelligence" id="option2" value=3> Responsive, but no smarter than I am! </input><br>
          <input type="radio" name="intelligence" id="option3" value=1> Very Easily Amused </input><br>
          </div>

          <div class="radio">
          <h4>What kind of amusement park ride best describes the energy in your home?</h4>
          <input type="radio" name="sensitivity" id="option1" value=5> Carousel (not many surprises) </input><br>
          <input type="radio" name="sensitivity" id="option2" value=4> Ferris wheel (ups and downs but fairly predictable) </input><br>
          <input type="radio" name="sensitivity" id="option3" value=3> Log ride (boisterous and noisy but not out of control) </input><br>
          <input type="radio" name="sensitivity" id="option4" value=2> Roller coaster (sometimes a little too exciting and unpredictable) </input><br>
          </div>

          <div class="radio">
          <h4>Do you have any preference between big or small dogs?</h4>
          <input type="radio" name="size" id="option1" value=1> I prefer small dogs </input><br>
          <input type="radio" name="size" id="option2" value=2> I prefer small or medium </input><br>
          <input type="radio" name="size" id="option3" value=3> I prefer medium dogs </input><br>
          <input type="radio" name="size" id="option4" value=4> I prefer medium or large </input><br>
          <input type="radio" name="size" id="option5" value=5> I prefer large dogs </input><br>
          </div>

          <div class="radio">
          <h4>What arrangements are you planning to make for your dog during a typical week day?</h4>
          <input type="radio" name="tolerates_alone" id="option1" value=1> I'll make sure he's walked when I can't be there. </input><br>
          <input type="radio" name="tolerates_alone" id="option2" value=3> I'll do my best to make sure he's walked, schedule permitting. </input><br>
          <input type="radio" name="tolerates_alone" id="option3" value=5> I'm planning to leave him alone until dinnertime, when I get home. </input><br>
          </div>
          <hr>
          <button type="submit">Submit</button>
        </form>
      </div>

      </div>

      <!-- Footer -->
      <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin:-24px">
      <!-- End footer -->
      </footer>

    <!-- END PAGE CONTENT -->
    </div>

    <script>
    // Open and close sidebar
    function openNav() {
      document.getElementById("mySidebar").style.width = "60%";
      document.getElementById("mySidebar").style.display = "block";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.display = "none";
    }
    </script>

    </body>
    </html>
